/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
a {
  color: grey;
  margin-right: 10px;
  text-decoration: none;
  border: 1px solid;
  padding-bottom: 3px;
}

button {
  background-color: grey;
  border: none;
  color: white;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

div {
  background-color: lightgreen;
  text-align: center;
  border: 1px solid;
  padding: 40px;
  margin: 40px;
}

.header {
  background-color: lightblue;
  padding-bottom: 50px;
}

.departmentinput {
  margin-bottom: 10px;
}

.descriptioninput {
  height: 50px;
  padding: 12px 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  margin-bottom: 10px;
}